*.Rhistory
*.bed
*.fasta
*.fasta.gz
*.gz
*.jpeg
*.jpg
*.log
*.out
*.png
*.tar
*.tgz
*.tsv
*.vcf
*.vcf.*
*.vcf.gz
*data
*~
00_archive/*
03_genomes/*
04_input_vcf/*
05_collinearity/*
06_liftover*
06_liftover/*
99_logfiles/*
collinearity.*
seq_names_old_genome.txt
seq_names_input.txt
snplift_test_dataset
transfered_positions*
