*.Rhistory
*.bed
*.fasta
*.fasta.gz
*.log
*.out
*.tsv
*.vcf
*.vcf.*
*.vcf.gz
*data
*~
00_archive/*
03_genomes/*
04_input_vcf/*
05_collinearity/*
06_liftover*
06_liftover/*
99_logfiles/*
collinearity.*
snplift_test_dataset
